.a-style{
    color: #000;
    background: #fff;
    text-decoration: none;
    border: none;
    width:100% ;
    text-align: left;
}
.a-style:hover{
    background: rgb(164, 203, 240);
    width:100% ;
    text-align: left;
}
