.img-div{
    background-image:linear-gradient( rgb(0, 255, 128) , rgb(0, 255, 128) );
    margin-top: -110px;
    margin-left: -12px;
    padding: 200px 150px;
    
}
.k{
    color: rgb(0, 0, 0);
    font-size: 60px;
    margin-top: -170px;
    margin-left: -150px;
    font-family: 'Poppins', sans-serif;
    animation-name: example;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}
/* The animation code */
@keyframes example {
    from {background-color: rgb(0, 255, 128);}
    to {background-color: rgb(79, 95, 238);}
    

}
/* The element to apply the animation to */
.kt{
    width: 250px;
    height: 100px;
    
    background-color: red;
    animation-name: example;
    animation-duration: 10s;
    color: rgb(0, 0, 0);
    font-size: 60px;
    margin-top: 120px;
    margin-left: -140px;
    font-family: 'Poppins', sans-serif;
    animation-name: example;
    animation-duration: 7s;
    animation-fill-mode: forwards;
   
}
.but{
    margin-top: 50px
}

.a-style{
    text-decoration: none;
    color:#fff;
    background: rgb(0, 255, 128);
    width: 200px;
    border:3px;
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    padding: 10px 20px;
}
.a-style:hover{
    text-decoration: none;
    color:#fff;
    background-color: rgb(112, 236, 201);
    width: 200px;
    border:4px;
    font-size: 34px;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
}
.And12-p{
color: #000;
font-size: 60px;
font-family: 'Poppins', sans-serif;
animation-name: example;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    width: 64px;
    height: 100px;
    margin-top: -360px; 
    margin-left: 260px;
}
.det{
    font-family: 'Poppins', sans-serif;
    text-align: right;
    margin-top:-300px;
}

.det-a{
    text-decoration: none;
    color: #000;

}
.det-a:hover{
    text-decoration: none;
    color: rgb(33, 61, 184);

}
.img-and{
    text-align: right;
    margin-top: 200px;
    margin-right: 180px;
    width: 300px;
}
.img-and:hover{
    margin-right: 200px;
    width: 300px;
    box-shadow: 5px;
    margin-top: 180px;
}

body{
    background:rgb(0, 255, 128);
}